* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    height: 100%;
}

.main-body {
    display: grid;
    position: absolute;
    grid-template-rows: 50px auto 50px;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
}

.header .header-name {
    margin-left: 20px;
    font-size: 30px;
}

.header .header-plus {
    margin-left: auto;
}

.header-plus {
    background-color: rgb(0, 197, 204);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 10px;
    border: 1px solid black;
    box-shadow: 0 5px 7px -7px rgba(0, 0, 0, 0.75);

}


.header-plus:hover {
    background-color: rgb(235, 117, 8);
    transform: scale(1.2);

}

.header-plus .plus {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 30px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.box {
    background-color: none;
    width: 300px;
    height: 300px;
    margin: 10px;
}

.box .box-header {
    padding: 10px;
    background-color: aqua;
    display: flex;
    align-items: center;
    height: 50px;
}

.box-header .icons {
    margin-left: auto;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box-header .icons div {
    background-color: red;
    margin-right: 1px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    box-shadow: 0px 10px 10px -7px rgba(0, 0, 0, 0.75);
}

.box-header .icons div:hover {
    background-color: green;
}

.box-content textarea {
    padding: 5px;
    height: 250px;
    width: 100%;
    outline: none;
    border: none;
}

.content {
    grid-template-columns: repeat(5, 1fr);
}

.footer {
    font-size: 20px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* modal box */

.modal {
    position: relative;
    z-index: 41;
    margin: 0 auto;
    top: 25%;
    background-color: rgb(0, 243, 252);
    width: 400px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 5px 17px -7px rgb(0 0 0 / 75%);
}

.modal .modal-header {
    background-color: azure;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 5px 10px;
}

.modal-header .close {
    cursor: pointer;
    margin-left: auto;
    background-color: red;
    padding: 10px;
    border-radius: 50%;
}

.modal-header .close button {
    cursor: pointer;
}

#dialogBox {
    display: none;
}

.label-title{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .modal-title-input{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form input{
    border-radius: 5px;
    width: 95%;
    border: none;
    outline: none;
    padding: 10px;

}

.form textarea{
    width: 95%;
    height: 120px;
}

#submitBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
#submitBtn button{
    background-color: rgba(15, 192, 24, 0.877);
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.form .error-message{
    display: none;
}

